@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-dm-sans);
  --font-display: var(--font-dm-serif);
  --font-mono: var(--font-jetbrains);
}

body {
  background: #171614;
  color: #e8e5de;
}
